@use '/src/assets/styles/variables.scss' as *;

.MuiPaginationItem-outlined {
  font-weight: 600;

  &.Mui-selected {
    border: 1px solid $md-primary;
    color: $md-primary;
    background-color: rgba($color: $md-primary, $alpha: 0.1);
  }
}
